# Robo Advisory Dashboard

In [13]:
# Import Libraries
# Install packages as needed (hashtagged below)

import pandas as pd #pip install pandas openpyxl
import plotly.express as px #pip install plotly-express
import dash #pip install dash
import dash_core_components as dcc #pip install dash-core-components
import dash_html_components as html #pip install dash-html-components
from dash.dependencies import Input,Output,State
import dash_daq as daq #pip install dash-daq

import pandas as pd
import numpy as np
import plotly.graph_objs as go
import shap

from pickle import load

In [40]:
dataset = pd.read_csv('data/dataset.csv')

In [41]:
dataset.head()

,AGE,EDUC,MARRIED,KIDS,OCCAT1,OCCAT2,INCOME,WAGEINC,YESFINRISK,NOFINRISK,SAVING,HSTOCKS,HBROK,HOUSECL,NETWORTH,RiskTolerance
0,75,12.0,2,0,1,1,67195.781504,1018.117902,0,0,0.0,0,1,1,2153600.0,0.842437
1,75,12.0,2,0,1,1,57014.602488,1018.117902,0,0,0.0,0,1,1,2116200.0,0.823661
2,75,12.0,2,0,1,1,51924.012980,1018.117902,0,0,0.0,0,1,1,2145000.0,0.834728
3,75,12.0,2,0,1,1,41742.833964,1018.117902,0,0,0.0,0,1,1,2552500.0,0.911162
4,75,12.0,2,0,1,1,50905.895078,1018.117902,0,0,0.0,0,1,1,2176200.0,0.844758

In [42]:
# Keep List of Features informed by Shapely

keep_list = ['NETWORTH', 'SAVING', 'INCOME', 'HBROK', 'OCCAT2', 'YESFINRISK', 'RiskTolerance']

drop_list = [col for col in dataset.columns if col not in keep_list]

dataset.drop(labels=drop_list, axis=1, inplace=True)

In [43]:
dataset.head()

   OCCAT2        INCOME  YESFINRISK  SAVING  HBROK   NETWORTH  RiskTolerance
0       1  67195.781504           0     0.0      1  2153600.0       0.842437
1       1  57014.602488           0     0.0      1  2116200.0       0.823661
2       1  51924.012980           0     0.0      1  2145000.0       0.834728
3       1  41742.833964           0     0.0      1  2552500.0       0.911162
4       1  50905.895078           0     0.0      1  2176200.0       0.844758

In [15]:
app = dash.Dash(__name__, external_stylesheets=['https://codepen.io/chriddyp/pen/bWLwgP.css'])

In [45]:
app.layout = html.Div([
    html.Div([
        # Dashboard Name
         html.Div([
            html.H3(children='Anand Robo Advisory Dashboard'),
            html.Div([
                html.H5(children='Step 1 : Please Enter Investor Characteristics'),            
                ],style={'display': 'inline-block','vertical-align': 'top',  'width': '30%',\
                         'color':'black', 'background-color': 'LightGray'}), 
            html.Div([
                html.H5(children='Step 2 : Asset Allocation and Portfolio Performance'),            
                ],style={'display': 'inline-block', 'vertical-align': 'top',  \
                         'color':'white','horizontalAlign' : "left", 'width': '70%', 'background-color':'black'}), 
            ],style={'font-family': 'calibri'}),  
                
        # All the Investor Characteristics
                      
       #********************Demographics Features DropDown********
         html.Div([   
          html.Div([ 
            
            html.Label('Net Worth:', style={'padding': 5}),
            dcc.Slider(
                id='NETWORTH',
                min = -1000000, max = 3000000,
                marks={-1000000: '-$1M',0: '0',100000: '$100K',250000: '$250K',500000: '$500K',1000000: '$1M',2000000: '$2M',},                
                value=100000),
            
            html.Label('Savings:', style={'padding': 5}),
            dcc.Slider(
                id='SAVING',
                 min = -1000000, max = 3000000,
                marks={-1000000: '-$1M',0: '0',500000: '$500K',1000000: '$1M',2000000: '$2M',},                
                value=10000),
            #html.Br(),
              
            html.Label('Income:', style={'padding': 5}),
            dcc.Slider(
                id='INCOME',
                min = 0,
                max = 3000000,
                marks={0: '0',50000: '$50K',100000: '$100K',250000: '$250K',500000: '$500K',1000000: '$1M',2000000: '$2M',},
                value=100000),
            
           # html.Br(),

            html.Label('Do you have a Brokerage Account?:', style={'padding': 5}),
            dcc.Slider(
                id='HBROK',
                min = dataset['HBROK'].min(), max = dataset['HBROK'].max(),
                marks={ 0: '0',1: '1'},
                value=0), 
            #html.Br(),

            html.Label('Are you willing to take risk?:', style={'padding': 5}),
            dcc.Slider(
                id='YESFINRISK',
                min = dataset['YESFINRISK'].min(), max = dataset['YESFINRISK'].max(),
                marks={ 0: '0',1: '1'},
                value=0), 
            #html.Br(),

              html.Button(id='investor_char_button',
                            n_clicks = 0,
                            children = 'Calculate Risk Tolerance',
                            style = {'fontSize': 14, 'marginLeft': '30px', 'color' : 'white',\
                                     'horizontal-align': 'left','backgroundColor': 'grey'}),             
              ],style={'width': '80%'}),           
            
            ],style={'width': '30%', 'font-family': 'calibri','vertical-align': 'top','display': 'inline-block'\
                     }),
    ])
])

In [46]:
def predict_riskTolerance(X_input):

    filename = 'finalized_model.sav'
    
    loaded_model = load(open(filename, 'rb'))
    
    # estimate accuracy on validation set
    predictions = loaded_model.predict(X_input)
    return predictions

In [26]:
shap.plots.waterfall(shap_values[0])

NameError: name 'shap_values' is not defined

In [47]:
if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [15/Oct/2022 14:46:20] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/Oct/2022 14:46:21] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/Oct/2022 14:46:21] "GET /_dash-dependencies HTTP/1.1" 200 -